/*  your css code here. If applicable */
body {
			background-color: white;
		}
		#card {
			margin: auto;
			width: 50%;
			text-align: center;
			background-color: #f9f9f9;
			padding: 40px;
			box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
			}
		img {
			width: 300px;
		}
		#title {
		font-size: 50px;
			margin: 9px
		}
		#price {
			font-size: 30px;
			margin:10;
		}
		#description {
			font-size: 30px;
			margin:10px;
		}
		#buy-Now {
		    font-size: 30px;
			padding: 10px;
			background-color: red;
			color: white;
			border-radius: 10px;
			
		}
